[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
body {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
}

.player {
  width: 47%;
  float: left;
  height: 50vh;
  border-radius: 10px;
  background: blue;
  margin-bottom: 10vh;
}
.one {
  margin-right: 3%;
}
.two {
  margin-left: 3%;
}

.score {
  font-size: 10rem;
  margin: 0;
}

.reset {
  padding: 10px;
  border-radius: 3px;
}

.serve {
  color: white;
}

.win {
  background-color: green;
}

.lose {
  background-color: red;
}